@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700;900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

.glass {
    background: #0f1423;
    border: 1px solid #334155;
}

.gradient-text {
    background: linear-gradient(90deg, #8A2BE2, #00BFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media print {
    body * {
        visibility: hidden;
    }

    #res-area,
    #res-area * {
        visibility: visible;
    }

    #res-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}